/**
 *
 * Based on Josh Comeau's CSS Reset: https://www.joshwcomeau.com/css/custom-css-reset/.
 *
 * Feel free to edit this file as needed.
 *
 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  box-sizing: border-box;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

main {
  max-width: 1250px;
  padding: 16px;
  margin: auto;
}

/*
============================
      CUSTOM STYLES
============================
*/

/*
============================
        Mixed Styles
============================
*/

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container,
.glossary > h2,
.glossary-item,
#searchForm {
  margin: 0 auto;
  border-radius: 15px;
}

.glossary > h2,
.glossary-item,
#searchForm {
  max-width: 1000px;
}

.container,
.glossary > h2,
#searchForm {
  text-align: center;
}

/*
============================
         Flexbox
============================
*/
.flex-parent {
  display: flex;
  align-items: center;

}

form.flex-parent {
  justify-content: center;
  flex-wrap: wrap;
}

/* .flex-child {
  border: 1px solid lime;
  align-content: center;
  text-align: center;
} */


/*
============================
      SearchBar Styles
============================
*/

#searchForm {
  margin-bottom: 1rem;
}

#searchForm > #searchFormInput {
  min-width: 375px;
}

.submit-search-btn {
  width: 4rem;
}

#search-msg {
  text-align: center;
}

input::placeholder {
  font-style: italic;
  padding: .5rem;
}

/*
============================
      Add Form Styles
============================
*/

.container {
  max-width: 90%;
}

.container > h2 {
  margin-bottom: .5rem;
}

#addTermForm {
  align-items: center;
}

/*
      Add Form Inputs
*/

input {
  margin: .2rem .75rem;
  border-radius: 25px;
}

#addTermForm > .flex-child > input,
#addTermTypeInput {
  margin: .5rem 1rem;
}

#addTermTypeInput {
  border-radius: 13px;
  padding: 0 1rem;
  text-align: center;
}

#addTermForm > #save-word-btn {
  border-radius: 13px;
  height: auto;
  width: 6.8rem;
  padding: .125rem 0;
  margin: .85rem 0 .35rem 0;
}

/*
============================
      Glossary Styles
============================
*/

.glossary > h2 {
  margin-bottom: 2rem;
}

.glossary {
  margin-top: 2rem;
}

/*
============================
      Glossary Item
============================
*/

.glossary-item {
  padding: 1rem;
  border: 1px solid silver;
}

.glossary-item {
  margin-bottom: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

li > span.bold {
  font-weight: bold;
}

.example {
  font-size: .875rem;
  font-style: italic;
}

h5  {
  font-size: 1.3rem;
}

.word-type {
  font-style: italic;
}

.pronunciation {
  font-weight: bold;
}

.word-type, .pronunciation {
  font-size: .8rem;
}

.pad-sides, .word-type, .pronunciation {
  margin-left: .32rem;
}